# Dependencias
node_modules/

# Variables de entorno
.env

# Registros
npm-debug.log
*.log

# Directorios de IDE y editores
.vscode/
.idea/

# Contenido subido por usuarios
public/img/usuarios/

# Archivos de construcción
GEMINI.md